@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 190px;
  background: white;
}

.hero-content {
  flex: 1;
  max-width: 500px;
}

.hero h1 {
  font-size: 50px;
  font-weight: bold;
  color: #588b2e;
  margin-bottom: 30px;
}
.hero-description{
  width: 420px;
}
.subtext1 {
  font-size:35px;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtext em{
  color: #3e8b6f;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 25px;
}

.hero-image {
  flex: 1.5; /* Tăng tỉ lệ so với hero-content */
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%; /* Để ảnh tự động co giãn theo container */
  max-width: 1200px; /* Tăng kích thước tối đa */
  height: auto; /* Đảm bảo tỷ lệ ảnh */
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
