.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/back-ground.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
.form-container {
  width: 550px;
  height: 380px;
  border-radius: 10px;
  background: transparent;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.wrapper-left {
  flex: 1;
  padding: 40px 45px 24px;
  display: flex;
  flex-direction: column;
}
.wrapper-input {
  margin-bottom: 15px;
  padding: 10px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #fff;
}
.wrapper-input:hover {
  background: transparent;
}
.wrapper-input:focus {
  background: transparent;
}
.wrapper-input::placeholder {
  color: #fff;
}
.forgot-link__text {
  margin-top: 12px;
  font-size: 14px;
  color: #fff;
}
.forgot-navigate {
  padding: 5px;
  cursor: pointer;
}
.forgot-navigate:hover {
  text-decoration: underline;
  color: #1d1616;
}
.forgot-link__signup {
  font-size: 14px;
  color: #fff;
}
.forgot__signup:hover {
  text-decoration: underline;
  color: #1d1616;
}
