.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/back-ground.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
.signin-form {
  width: 600px;
  height: 425px;
  border-radius: 10px;
  background: transparent;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.signin-content {
  flex: 1;
  padding: 40px 45px 24px;
  display: flex;
  flex-direction: column;
}
.signin-input {
  margin-bottom: 15px;
  padding: 10px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #fff;
}
.signin-input:hover {
  background: transparent;
}
.signin-input:focus {
  background: transparent;
}
.signin-input::placeholder {
  color: #fff;
}
.Pic-Eye {
  padding: 10px;
}
.signin-link__forgot {
  cursor: pointer;
}
.signin-link__forgot:hover {
  text-decoration: underline;
  color: #1d1616;
}
.signin-link__signup {
  margin-top: 5px;
}
.link__signup {
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.link__signup:hover {
  text-decoration: underline;
  color: #1d1616;
}
