.signup-container{
  display:flex;
  align-items:center;
  justify-content:center;
  background:url(../../assets/back-ground.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  height:100vh
}
.signup-form{
  width:600px; 
  height:525px;
  border-radius:10px; 
  background:transparent; 
  display:flex;
  border:2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter:blur(100px);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  color:#ffffff
}
.signup-input{
  margin-bottom: 15px;
  padding:10px;
  background:transparent;
  border:1px solid #ffffff;
  color:#fff
}
.signup-input:hover {
  background:transparent;
}
.signup-input:focus{
  background:transparent;
}
.signup-input::placeholder{
  color: #fff;
}
.signup-content{
  flex: 1;
  padding: 40px 45px 24px;
  display: flex;
  flex-direction: column;
}
.link-navigate {
  color: rgb(13, 92, 182);
  font-size: 13px;
  cursor: pointer;
}
.Pic-Eye{
  padding:10px;
}
.signup-link__text {
  font-size: 16px; 
  color: #fff; 
  text-align: center; 
}

.link-navigate {
  color: #1D1616;
  font-size: 16px;
  font-weight: bold; 
  cursor: pointer; 
  text-decoration: none; 
}

.link-navigate:hover {
  text-decoration: underline; 
  color: #1D1616; 
}
